.main{
    padding: 50px;
    gap:20px;
    background-color: black;
    padding-bottom: 200px;

    &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    }
}
