@import './variables.scss';

.link{
    margin: 20px;
    background-color: $characterColor;
    border-radius: 5%;
    text-decoration: none;

    @media (min-width: 768px){
        margin: 50px;
    }

}

.li{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &__image{
        width: 100px;
        height: 150px;
        margin-top: 10px;
        padding-top: 5px;
        box-shadow: 7px 9px rgb(102, 94, 94);

            @media (min-width: 768px){
                width: 150px;
                height: 200px;
                margin-top: 20px;
                box-shadow: 7px 9px rgb(102, 94, 94);
            }
    }
    
    &__name{
        font-size: 0.8rem;
        font-weight: bold;
        padding-top: 15px;
        font-family: $fontFamily;

        @media (min-width: 768px){
            font-size: 1rem;
            padding-top: 20px;
        }
    }

    &__species{
        font-weight: bold;
        padding-bottom: 10px;
        font-family: $fontFamily;
        font-size: 0.8rem;

        @media (min-width: 768px){
            padding-bottom: 20px;
            font-size: 1rem;
        }
    } 
}