@import './variables.scss';

.character{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    &__section1{
        display:flex;
        flex-direction: row;
        gap: 20px;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 90px;
        background-color: $characterColor;
        border-radius: 10%;

        &--img{
        width: 200px;
        height: 250px;
        }
    }

    &__section2{
        display:flex;
        flex-direction: row;
        gap: 40px;
        padding-bottom: 128px;
        margin-top: 60px;

        &--link{
            text-decoration: none;
            padding: 5px;
            background-color: $characterColor;
            border-radius: 10%;
        }
    }

    &__undefined{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        padding-top: 200px;

        &--p{
            color: red;
            font-size: 2rem;
            padding-bottom: 240px;
        }
    }
}

