.main{
    gap:20px;
    background-color: black;
    padding-top: 20px;
    min-height: 530px;
    
    @media (min-width: 768px){
        padding: 50px;
        min-height: 920px;
    }

    @media (min-width: 1200px){
        min-height: 400px;
    }


    &__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;

        @media (min-width: 1200px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
